name: CI - docker image build és push

on:
  push:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Repository lekérése
        uses: actions/checkout@v4

      - name: Node.js setup 
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Dependencies install
        run: npm install

      - name: Docker Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name:  Docker image build és push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/devops_beadando:latest
